<% items.forEach(item => { %>
  <% const isFolder = item.children !== undefined; %>
  <% const wrapperClass = isRoot ? '' : 'ms-4'; %>

  <% if (isFolder) { %>
    <div class="<%= wrapperClass %>">
      <div class="d-flex align-items-center fw-bold text-dark">
        <span class="me-2 d-flex align-items-center">
          <%- include('../icons/folder-open') %>
        </span>
        <span><%= item.name %></span>
      </div>
      <div>
        <%- include('./items-menu', { items: item.children, isRoot: false }) %>
      </div>  
    </div>
  <% } else { %>
    <a href="<%= item.url %>" class="d-block <%= isRoot ? '' : 'ms-4' %> text-decoration-none <%= item.selected ? 'text-bg-primary' : 'text-dark' %>">
      <%= item.name %>
    </a>
  <% } %>
<% }); %>
