<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-xxl px-0">
      <div class="d-flex flex-column flex-md-row">
        <!-- Fixed-width menu section -->
        <div class="menu-section-width bg-body-secondary p-0 vh-min-md-100 d-flex flex-column">
          <!-- Header -->
          <div class="w-100 bg-primary p-3">
            <h2 class="text-center text-light"><%= title || 'RTDocs' %></h2>
          </div>
      
          <!-- Menu -->
          <div class="flex-grow-1 overflow-auto">
            <%- include('partials/menu', { menuList: menuList || [] }) %>
          </div>
      
          <!-- Footer -->
          <div class="p-2">
            <p class="text-center text-muted mb-0">RTDocs v<%= version || '0.0.0' %> - <a href="https://github.com/ZanoTN/express-rtdocs">GitHub</a></p>
          </div>
        </div>
      
        <div class="p-3 flex-grow-1">
          <!-- Content section -->
          <%- include('partials/section', { sectionHtml: sectionHtml || null }) %>
        </div>
      </div>
    </div>
  </body>
  <style>
    :root {
      --bs-border-radius: 0rem;
      --bs-border-radius-sm: 0rem;
      --bs-border-radius-lg: 0rem;
      --bs-border-radius-xl: 0rem;
      --bs-border-radius-xxl: 0rem;
      --bs-border-radius-2xl: 0rem;
    }
    pre {
      background-color: #f8f9fa;
      padding: 1rem;
      overflow-x: auto;
    }
    code {
      background-color: #f8f9fa;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    table, th, td {
      border: 1px solid #dee2e6;
    }
    thead {
      background-color: #f8f9fa;
    }
    th, td {
      padding: 0.5rem;
      vertical-align: middle;
    }
    @media (min-width: 768px) {
      .vh-min-md-100 {
        min-height: 100vh !important;
      }
      .menu-section-width {
        width: 300px; 
        flex: 0 0 300px;
      }
    }
    .icon-menu {
      width: 1em;
      height: 1em;
      text-align: center;
      fill: currentColor;
    }
  </style>
</html>